In [2]:
#Скачайте с сайта https://grouplens.org/datasets/movielens/ 
#датасет любого размера. Определите какому фильму было выставлено больше всего оценок 5.0.

In [7]:
import pandas as pd
df = pd.read_csv('C:/Users/Yulia/Documents/Python Scripts/python11/ratings.csv')
movies = pd.read_csv('C:/Users/Yulia/Documents/Python Scripts/python11/movies.csv')

   userId  movieId  rating   timestamp
0       1      296     5.0  1147880044
1       1      306     3.5  1147868817
2       1      307     5.0  1147868828
3       1      665     5.0  1147878820
4       1      899     3.5  1147868510

In [34]:
df_new = df[df.rating == 5.0].groupby(df.movieId).agg(cnt = ('rating', 'count')).reset_index()
most_id = df_new[df_new.cnt == df_new.cnt.max()].movieId.values[0]
print(movies[movies.movieId == most_id].title.values[0])

Shawshank Redemption, The (1994)

In [1]:
#По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) 
#категорий 4, 12 и 21 за период с 2005 по 2010 года. Не учитывайте в расчетах отрицательные значения quantity.

In [159]:
df = pd.read_csv('C:/Users/Yulia/Documents/Python Scripts/python11/power.csv')
df = df[df.country.isin(['Latvia', 'Luthuania', 'Estonia'])]
df = df[(df.year >= 2005) & (df.year <= 2010)]
df = df[df.category.isin([4, 12, 21])]
df = df[df.quantity >= 0]
df.quantity.sum()

118284.0

In [ ]:
#Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas dataframe.
#Примеры страниц (необязательно брать именно эти):
#https://fortrader.org/quotes
#https://www.finanz.ru/valyuty/v-realnom-vremeni

In [135]:
df = pd.read_html('https://wciom.ru/news/ratings/doverie_politikam_1/')[0]

In [136]:
df

,ДОВЕРИЕ политикам (суммы ответов «безусловно доверяю» и «скорее доверяю»),27.09.2020,04.10.2020,11.10.2020,18.10.2020
0,Путин В.В.,68.1,67.7,69.0,67.7
1,Мишустин М.В.,54.2,53.8,54.4,53.4
2,Жириновский В.В.,29.8,31.0,32.1,32.2
3,Миронов С.М.,24.0,25.9,25.4,27.2
4,Зюганов Г.А.,28.4,26.6,27.5,27.1
5,Медведев Д.А.,21.4,23.9,25.6,24.9